/UF2NF1/funciones/Piedra_Papel_Tijera/nbproject/private/
/UF2NF1/funciones/Piedra_Papel_Tijera/build/
/UF2NF1/funciones/La_ruleta_russa/nbproject/private/
/UF2NF1/funciones/La_ruleta_russa/build/
/UF2NF1/funciones/La_ruleta_russa/dist/
